<div class="container" style="padding: 0px;">
    <!-- Foto portada -->
   <img class="full-height full-width"  alt="Foto portada" 
        src="https://media-exp1.licdn.com/dms/image/C4E16AQFIcuXSVS9v2Q/profile-displaybackgroundimage-shrink_200_800/0/1624409528555?e=1645056000&v=beta&t=SBhprX-3DN3NhoSr0vr2a6_1vmixLIIMsABVklDjs7k">
    <div id="info" style="padding: 16px;">
        <div id="info-img">
            <img class="foto-perfil perfil" style="border-radius: 50%;" src="https://media-exp1.licdn.com/dms/image/C4D03AQFqu2sXOHeRDA/profile-displayphoto-shrink_200_200/0/1624378891767?e=1643241600&v=beta&t=_QZxTUZNv2hkhDwk4Th3WYtSoVQnsug7MM-1eXvIpak" alt="">
        </div>
    </div>
    
<!-- Nombre y datos -->

        <div style="margin-bottom: 40px;" id="info-data">
            <div class="col" style="padding-left: 30px;">
                <h2>Joaquín González</h2>
                <div>
                        <div id="info-company">Desarrollador web fullstack</div>
                    <div style="padding-bottom: 10px;" id="info-contact">
                        <span style="padding-right: 10px;">Córdoba (Argentina)</span>
                        <span><a routerLink="contact">Información de contacto</a> </span>
                    </div>
                    <div>
                        <button class="btn btn-borde" routerLink="enfoque">Tengo interés en</button>
                        <button class="btn btn-borde"><a href="mailto:joaquingon97@gmail.com">Enviar mensaje</a></button>
                    </div>
                </div>
                
            </div> 
            
            <!-- datos del costado -->
            <div class="col derecha d-sm-block d-none d-sm-none d-md-block" style="margin-top: -135px; padding-right: 60px;">
                <ul style="float: right; list-style-type: none; "id="info-details">
                    <li style="margin-bottom: 15px;"><a href="https://angular.io/">
                        <img style="height:60px; float: left; margin-right: 10px;" src="https://docs.angular.lat/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="Logo Angular">
                        <a style="font-size: medium;  margin-left: 20px ;" >Angular +11</a>    
                    </a></li>
                    <li><a href="https://argentinaprograma.inti.gob.ar/">
                        <a  style="font-size: medium; float: right; margin: 17px" > Argentina <br> Programa</a>    
                        <img style="height:40px ; background-color:grey; margin-top: 10px;" src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1637099168/APLogo-20-20.png">
                    </a></li>
                </ul>
            </div>
       
        </div> 
            
        
        

    </div>

