<div class="container">
    <!-- Foto portada -->
   <img class="full-height full-width" src="https://media-exp1.licdn.com/dms/image/C4E16AQFIcuXSVS9v2Q/profile-displaybackgroundimage-shrink_200_800/0/1624409528555?e=1645056000&v=beta&t=SBhprX-3DN3NhoSr0vr2a6_1vmixLIIMsABVklDjs7k" alt="Foto portada">
    <div id="info" style="padding: 16px;">
        <div id="info-img">
            <img class="foto-perfil perfil" style="border-radius: 50%;" src="https://media-exp1.licdn.com/dms/image/C4D03AQFqu2sXOHeRDA/profile-displayphoto-shrink_200_200/0/1624378891767?e=1643241600&v=beta&t=_QZxTUZNv2hkhDwk4Th3WYtSoVQnsug7MM-1eXvIpak" alt="">
            <button type="button" class="btn oscuro">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
            </button>
        </div>
    </div>
    
<!-- Nombre y datos -->

        <div style="margin-bottom: 40px;" id="info-data">
            <div class="col" style="padding-left: 30px;">
                <h2>Joaquín González</h2>
                <div>
                        <div id="info-company">Desarrollador de Angular</div>
                    <div style="padding-bottom: 10px;" id="info-contact">
                        <span style="padding-right: 10px;">Córdoba (Argentina)</span>
                        <span><a routerLink="contact">Información de contacto</a> </span>
                    </div>
                    <div>
                        <button class="btn btn-borde" routerLink="enfoque">Tengo interés en</button>
                        <button class="btn btn-borde">Enviar mensaje</button>
                        <button class="btn btn-borde">Más</button>
                    </div>
                </div>
                
            </div> 
            
            <!-- datos del costado -->
            <div class="col derecha d-sm-block d-none d-sm-none d-md-block" style="margin-top: -135px; padding-right: 60px;">
                <ul style="float: right; list-style-type: none; "id="info-details">
                    <li style="margin-bottom: 15px;"><a href="https://angular.io/">
                        <img style="height:60px; float: left; margin-right: 10px;" src="https://docs.angular.lat/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="Logo Angular">
                        <a style="font-size: medium;  margin-left: 20px ;" >Angular +11</a>    
                    </a></li>
                    <li><a href="https://argentinaprograma.inti.gob.ar/">
                        <a  style="font-size: medium; float: right; margin: 17px" > Argentina <br> Programa</a>    
                        <img style="height:40px ; background-color:grey; margin-top: 10px;" src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1637099168/APLogo-20-20.png">
                    </a></li>
                </ul>
            </div>
       
        </div> 
            
        
        

    </div>

