
<div class="container" style="text-align: center; padding: 20px;">
            <h1>Fullstack Developer</h1>
            <br>
            <h2>¿Quién soy?</h2>
    <div class="row row-cols-1 row-cols-md-1 g-4 centro">
        <div>
            <div class="col" >

                <p>
                    ¡Hola! Soy Joaquín González, hoy desarrollador web, hace aproximadamente 1 año empecé mi 
                    carrera en desarrollo FrontEnd en Angular y este año terminé de completar el stack 
                    cursando el Argentina programa.
                </p>
                <hr>
                <p>
                    A lo largo de mi vida fui aprendiendo distintas habilidades, muchas por curiosidad, algunas por vagancia,
                    y otras por falta de recursos. Hablar inglés, comunicación 360, liderazgo, ventas, autoliderazgo,
                    mindset, marketing digital, contenido en RRSS, aprendí algo de italiano, a cortarme el pelo (bastante
                    decentemente), algo de creación de contenido, soy barista(sé mucho de café) entre otras,
                    la idea tampoco es aburrir/alardear. 
                </p>
            </div>
        </div>

    </div>
</div>