<div class="row container" style="padding: 40px;">
    <!-- Presentación -->
    <div class="col">
       <div *ngFor="let sec of Texts" class="col" >
        <div class="row" style="margin-bottom: 40px;" *ngIf="!edit">
                <div class="col-10">
                    <h2>{{sec.title}} </h2>
                    <p>{{sec.text}} </p>
                    <button class="btn btn-borde" routerLink="{{sec.url}}">Ver más</button>   
                </div>
        </div>
     <!--    Apartado de edit 
        <div *ngIf="edit" class="col-8">
            <div style="margin-bottom: 40px;">
                <input value="{{sec.title}}" class="form-control" style="color: black;">
                <input value="{{sec.text}}" class="form-control" style="color: black;">                
            </div>
        </div>
        <div class="col-6" style="margin-left: 25%;">
            <hr>
        </div>
    </div> 
    </div>
    
    <div class="col-4" style="margin-top: -30px">
        <app-icono-edit 
        (OnAdd)="adding()"
        (OnEdit)="editing()"
        style="float: right;">
        </app-icono-edit>
    </div> 
    
    <div *ngIf="add" class="col-8">
        <div style="margin-bottom: 40px;">
            <div class="form-group">
                <input type="text" placeholder="Título" class="form-control" id="titulo">
            </div>    
            <div class="form-group">
                <input type="descripcion" class="form-control"  placeholder="Descripción" id="desc">
            </div>    
        </div>
    </div>

    <div *ngIf="edit">
        <button class="btn btn-borde" type="submit">Cargar</button>
        <button class="btn" (click)="editing()" style= "float: right;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
            </svg>
        </button>  
    </div>
    <div *ngIf="add">
        <button class="btn btn-borde" type="submit">Cargar</button>
        <button class="btn" (click)="adding()" style= "float: right; padding-right: 300px;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
            </svg>
        </button>  
    </div> -->
</div>