<div class="box">
  <button class="btn closebtn block btn-border"  (click)="onClose()">&times;</button>
  <button class="btn block btn-border" (click)="onClose()" routerLink="">Home</button>
  <button class="btn block btn-border" (click)="onClose()" routerLink="about" >Más acerca de mí</button>
  <button class="btn block btn-border" (click)="onClose()" routerLink="enfoque">Enfoque</button>
  <button class="btn block btn-border" (click)="onClose()" routerLink="proyectos" >Proyectos</button>
</div>