<div class="container" style="text-align: center; padding: 20px;">
    <h2 class="space">Enfoque - Mentalidad</h2>
    <div>
        <div class="col-8" style="margin-left: 200px;">

            <p class="space">Me interesa hablar del enfoque de las cosas, no todo tiene que ser igual siempre.
                Creo en la diversión en los procesos, en la calma propia de la tormenta, en mis experiencias laborales
                descubrí que el estrés y la desesperación de un momento puntual son innecesarios para lograr los objetivos.
                La calma y la buena mentalidad siempre juegan buenas pasadas y me permitieron solucionar situaciones adversas
                y encima disfrutarlas
            </p>
            <hr>
            <p class="space">
                Amo el trabajo en equipo, el compromiso de un grupo motivado es una herramienta poderosísima
                que combinada con una buena estrategia y comunicación, es capaz de todo.
            </p>
            
        </div>
    </div>
</div>